*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    background-color: var(--gris-claro);
}
.navbar {
    z-index: 200;
  }
  .navbar-nav {
    border: 1px solid #cd9c06;
    border-radius: 10px;
    
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  
    text-align: center;
    width: 100%;
  }
  
  .navbar-toggler-icon {
    width: 2em;
    height: 2em;
    background-image: url("../../assets/Images/mask/angus-face-1.png") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% !important;
  }
  
  .navbar-brand img {
    margin-right: 35px;
  }
  
  .navbar-toggler {
    padding: 1px !important;
    border-radius: 30px !important;
    background-color: #bf0706 !important;
  }
  
  .nav-item {
    font-family: "glaser_stencil_dregular", sans-serif;
    color: white;
    padding: 5px 15px;
  }
  
  .navbar-nav .nav-link.active {
    color: black !important;
    font-size: 1.4rem;
  }

.titulo{
    width: 100%;
    height: 450px;
    background-color: black;
    color: white;
    padding-top: 7rem;
}
.titulo-contenido{
    display: flex;
    justify-content: center;
}
.titulo h1{
    font-size: 5rem;
    margin-bottom: 5%;
    text-shadow: 2px 2px 5px red;
}
.titulo-subtitulo{
    font-size: 3rem;
    font-weight: lighter;
    padding-left: 2rem; 
    margin: 10;
}

.tithash{
    text-shadow: 2px 2px 5px red;
    font-style: italic;
}

.lorei{
    display: flex;
    justify-content: center;
    text-align: justify;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    font-weight: light;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
}

.photos{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 5rem;
}
.photos p{
    color: #FB0206;
    font-weight: bolder;
    font-size: 5rem;
    text-shadow: 2px 2px 5px rgb(57, 47, 47);
}
.photo-img{
    width: 360px;
    height: 360px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5%;
}
.piccuatro{
    background-image: url("../../assets/Images/band/pic-4.jpeg");
    cursor: pointer;
}
.piccinco{
    background-image: url("../../assets/Images/band/pic-5.jpeg");
    justify-items: left;
    cursor: pointer;
}
.picseis{
    background-image: url("../../assets/Images/band/pic-2.jpeg");
    cursor: pointer;
}

/* hashtag */
.hashtag{
    width: 100%;
    height: 800px;
    background-image: url("../../assets/Images/band-pictures/acdc-wallpaper-4.jpeg");
    display: flex;
    justify-content: center;
    position: sticky;
    top: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding-top: 4rem;
}
.com{
    font-size: 3rem;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hashtag h1{
    font-size: 7rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 5px rgb(57, 47, 47);
    position: inherit;
}
.lore{
    font-size: 2rem;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* insta */
.insta{
    width: 100%;
    height: 500px;
    background-color: rgb(41, 7, 7);
    color: white;
    padding-top: 11rem;
}
/* /insta */

footer {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    color: white;
    padding: 30px;
    font-family: "Oswald", sans-serif;
    z-index: 2;
    height: 400px;
  }
  
  footer i {
    font-size: 1.5rem;
  
  }
  
  footer .icons {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  @media screen and (min-width: 767px) {
    .navbar-nav {
      border: 1px solid #cd9c06;
      border-radius: 10px;
      
      background: rgba(255, 255, 255, 0.25);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
    
      text-align: center;
      width: 100%;
    }
  
    .newsletter input {
      width: 40%;
    }
  }