<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Tributo AC/DC</title>
    <link 
    rel="stylesheet" 
    href="photos.css">
    <link 
    rel="stylesheet" 
    href="../../../styles.css">
    <link 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
    <body>
      <!-- titulo -->
      <section class="titulo">
          <div class="titulo-contenido">
              <h1>PHOTOS</h1>
          </div>
          <div class="titulo-subtitulo">
              <p>THROWBACK TODAY</p>
          <div class="tithash">
            #tbtday
          </div>
          <div>
              <p class="lorei">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque soluta, velit doloremque ratione voluptatum cum debitis sunt necessitatibus enim ipsa error </p>
          </div>
      </section>
      <!-- /titulo  -->
      <!-- fotos -->
      <section class="photos">
        <div class="photo-img piccuatro">
            <div data-aos="fade-right">
                <p>SEATTLE </p>
                <p>1983</p>
            </div>
        </div>
        <div class="photo-img piccinco">
            <div data-aos="fade-right">
                <p>BARCELONA</p>
                <p>1997</p>
            </div>
        </div>
        <div class="photo-img picseis">
            <div data-aos="fade-right">
                <p>KIOTO</p>
                <p>2008</p>
            </div>
        </div>
    </section>
    <!-- /fotos -->
    <!-- hashtag -->
    <section class="hashtag">
        <div class="hashtag-img">
                <p class="com">turn of y'all</p>
                <h1>#PWRUP</h1>
                <p class="lore">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia velit, asperiores ex alias suscipit nulla esse ratione eum optio architecto ea perspiciatis consectetur eius nam quaerat assumenda aliquid sapiente vero.</p>
        </div>
    </section>
    <section class="insta">
        <div class="insta-top">
            <div data-aos="zoom-out-up">
                <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                <div class="elfsight-app-2047f52c-895d-4ff9-950c-f26f8754bb85"></div>
            </div>

        </div>
    </section>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
  </body>
<footer></footer>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>