<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web Tributo AC/DC</title>
  <link rel="stylesheet" href="./videos.css">
  <link rel="stylesheet" href="../../../styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>

<body>
  <nav></nav>
  <main class="videos">
    <section class="container-fluid newVideo">
      <div class="row">
        <div class="col">
          <h1>Videos</h1>
          <div class="videoWrap">
            <iframe width="100%" height="100%" max-width="500px" src="https://www.youtube.com/embed/gEPmA3USJdI"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
          <h2 class="mt-2 mb-5">WITCH SPELL <br />(OFFICIAL VIDEO)</h2>
        </div>
      </div>
      <div class="row p-3 socialIcons">
        <div class="col">
          <a href="https://www.instagram.com/acdc/" target="_blank">
            <img class="socialIcon" src="../../assets/Images/brands/instagram.svg" />
          </a>
        </div>
        <div class="col">
          <a href="# https://www.facebook.com/acdc">
            <img class="socialIcon" src="../../assets/Images/brands/facebook-f.svg" />
          </a>
        </div>
        <div class="col">
          <a href="https://twitter.com/acdc" target="_blank">
            <img class="socialIcon" src="../../assets/Images/brands/twitter.svg" />
          </a>
        </div>
      </div>
    </section>
    <section class="moreVideos container mt-4">
      <div class="row">
        <div class="col-12">
          <h1>More videos</h1>
        </div>
        <div class="col-12">
          <iframe width="100%" height="200" src="https://www.youtube.com/embed/54LEywabkl4" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; controls; mute; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
        <div class="col-12">
          <iframe width="100%" height="200" src="https://www.youtube.com/embed/ga5qfM2-kog" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; controls; mute; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
        <div class="col-12">
          <iframe width="100%" height="200" src="https://www.youtube.com/embed/v2AC41dglnM" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; controls; mute; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
        <div class="col-12">
          <iframe width="100%" height="200" src="https://www.youtube.com/embed/WllOatNmBK4" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; controls; mute; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </section>
  </main>
  <footer></footer>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>
</body>

</html>