<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <section >
        <div class="container1">
            <img class="acdclogo" src="../../assets/Images/logo/logo.png" alt="logo de acdc">
        </div> 
        
            
        <div class="threelogos">
            <img src="../../assets/Images/logo/mastercardlogo.png" alt="logo de mastercard">
            <img src="../../assets/Images/logo/visacardlogo.png" alt="logo de visacard">
            <img src="../../assets/Images/logo/paypallogo.png" alt="logo de paypal">
        </div>    

       <div class="carddetails">
            <input type="CARD HOLDERS NAME" ><BR><BR>
            <input type="CARD NUMBER">
        </div>

        <div class="twoinput">
            <input type="EXP DATE"> 
            <input type="CVC / CVV2"> 

        </div>



    </section>
</body>
</html>

        
        
        