<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web Tributo AC/DC</title>
  <link rel="stylesheet" href="./tour.scss">
  <link rel="stylesheet" href="../../../styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
  <nav></nav>
  <main class="container">
  |<div class="firstdiv">
    
        <div class="imgfirstdiv"><img class="green" src="..//Tour/acdcgreen.png"></div>
        <div class="textfirstdiv"><p>Lorem fistrum sexuarl sexuarl va usté muy cargadoo ese que llega diodenoo hasta luego Lucas caballo blanco caballo negroorl se calle ustée. Se calle ustée jarl pecador diodenoo llevame al sircoo sexuarl por la gloria de mi madre jarl a peich sexuarl. Va usté muy cargadoo amatomaa ese hombree ese que llega a peich se calle ustée fistro. Tiene musho peligro pupita a gramenawer hasta luego Lucas la caidita ese que llega ese </p></div>
        <div class="threebuttons"> 
            <button class="buttons">Decline All</button>
            <button class="buttons">Accept All</button>
            <button class="buttons">Help</button>
        </div>

  </div>  
<!--am  making the second section -->
  <div class="seconddiv">
      <div class="imgseconddiv"><img src="..//Tour/acdcwire.png"></div>
      <div class="tickets">
            <h6>
              <b>OCT 3 2022</b>
            </h6>
            <p>
                TD GARDEN
            </p>
            <h6>
              <b>
                  BOSTON, MA, USA
              </b>
            </h6>


            <buttons>TICKETS</buttons>
            
            <buttons>RSVP</buttons>

      </div>
      <div class="tickets">
        <h6>
          <b>OCT 3 2022</b>
        </h6>
        <p>
            BRYCE JORDAN CENTER
        </p>
        <h6>
          <b>BOSTON, MA, USA </b>
        </h6>


        <buttons>TICKETS</buttons>
        
        <buttons>RSVP</buttons>
      </div>
      <div class="tickets">
        <h6>
          <b>OCT 3 2022</b>
        </h6>
        <p>
            WOLSTEIN CENTER
        </p>
        <h6>
          <b>BOSTON, MA, USA</b>
        </h6>


        <buttons>TICKETS</buttons>
        
        <buttons>RSVP</buttons>
      </div>

  </div>  
  
  <div class="thirddiv">
     <div class="largeimage" > <img src="../Tour/darkimage.png"></div>
  </div>
  </main>
  <section></section>
  <footer></footer>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>