.navbar {
  .navbar-toggler-icon {
    width: 2em;
    height: 2em;
    background-image: url("../../assets/Images/mask/angus-face-1.png") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
  }

  .navbar-toggler {
    padding: 0 !important;
    border-radius: 30px;
    background-color: black;
  }

  .nav-item {
    font-family: "Oswald", sans-serif;
  }
}

hr {
  margin: 0.5rem 0 !important;
}

h1 {
  font-family: "squealer-embossed", sans-serif;
}

