.navbar {
  .navbar-toggler-icon {
    background-image: url("../../assets/Images/angus-face.png") !important;
  }
}

h1 {
  color: blue;
}

.navbar-toggler {
  padding: 40px !important;
}

h2 {
  color: yellow;
}

h3 {
  font-family: 'Courier New', Courier, monospace;
}




